<!doctype html>
<html>
    <head>
        <title>Registration</title>
    </head>

    <body>
        <div id="hSection">
            <img class="mealPack" src="image/mealPack.png" alt="mealPack">
        </div>
        <h1>Thank you for registration!
            Please check your email for validation.
        </h1>
        
    </body>
</html>